<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fleck" version="1.2.0" targetFramework="net472" />
  <package id="FSUIPCClientDLL" version="3.2.25" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="6.0.0-preview.4.21253.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0-preview.7.22375.6" targetFramework="net472" />
  <package id="protobuf-net" version="3.1.25" targetFramework="net472" />
  <package id="protobuf-net.Core" version="3.1.25" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0-preview.7.22375.6" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.1" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
</packages>